<VirtualHost *:80>
  BufferedLogs on

  ServerName {{ item.server_name }}
{% if item.server_alias is defined and item.server_alias != '' %}
  ServerAlias {{ item.server_alias }}
{% endif %}
  ServerAdmin webmaster@{{ item.server_name }}

  CustomLog {{ apache_logs }}/{{ item.server_name }}-access.log combined
  ErrorLog {{ apache_logs }}/{{ item.server_name }}-error.log
  LogLevel warn

{% if item.proxy_pass_reverse_port is defined and item.proxy_pass_reverse_port != '' %}
  ProxyPreserveHost On
  ProxyPass / http://127.0.0.1:{{ item.proxy_pass_reverse_port }}/
  ProxyPassReverse / http://127.0.0.1:{{ item.proxy_pass_reverse_port }}/
{% else %}
  DirectoryIndex index.html index.php

  DocumentRoot {{ item.vhost_home }}
  <Directory {{ item.vhost_home }}>
    Options Includes FollowSymLinks
    AllowOverride All

    # # 強制的にHTTPSとする
    # RewriteEngine on
    # RewriteCond %{SERVER_PORT} !^443$ [OR]
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{HTTP_HOST}/%{REQUEST_URI} [R=302,L]

    <IfModule mod_authz_core.c>
      # Apache 2.4
      ### Local
      Order deny,allow
      <RequireAny>
        Require all granted
        Require ip ::1
      </RequireAny>
      ### Dev
      # AuthType Digest
      # AuthName "{{ item.server_name }} authentication"
      # AuthUserFile /etc/httpd/{{ item.server_name }}.htdigest
      # require valid-user
    </IfModule>
    <IfModule !mod_authz_core.c>
      # Apache 2.2
      Order Deny,Allow
      #Deny from All
      Allow from all
      Allow from ::1
      # AuthType Digest
      # AuthName "{{ item.server_name }} authentication"
      # AuthUserFile /etc/httpd/{{ item.server_name }}.htdigest
      # require valid-user
    </IfModule>
  </Directory>
{% endif %}
</VirtualHost>

{% if item.use_ssl %}
<VirtualHost *:443>
  BufferedLogs on

  ServerName {{ item.server_name }}
{% if item.server_alias is defined and item.server_alias != '' %}
  ServerAlias {{ item.server_alias }}
{% endif %}
  ServerAdmin webmaster@{{ item.server_name }}

  CustomLog {{ apache_logs }}/{{ item.server_name }}-access.log combined
  ErrorLog {{ apache_logs }}/{{ item.server_name }}-error.log
  LogLevel warn

  SSLEngine on
  SSLProtocol all
{% if item.ssl_certificate_file is defined %}
  SSLCertificateFile      /etc/pki/tls/certs/{{ item.ssl_certificate_file }}
{% endif %}
{% if item.ssl_certificate_key_file is defined %}
  SSLCertificateKeyFile   /etc/pki/tls/certs/{{ item.ssl_certificate_key_file }}
{% endif %}
{% if item.ssl_certificate_chain_file is defined %}
  SSLCertificateChainFile /etc/pki/tls/certs/{{ item.ssl_certificate_chain_file }}
{% endif %}
{% if item.ssl_cacertificate_file is defined %}
  SSLCACertificateFile    /etc/pki/tls/certs/{{ item.ssl_cacertificate_file }}
{% endif %}

  DirectoryIndex index.html index.php

  DocumentRoot {{ item.vhost_home }}
  <Directory {{ item.vhost_home }}>
    Options Includes FollowSymLinks
    AllowOverride All

    <IfModule mod_authz_core.c>
      # Apache 2.4
      ### Local
      Order deny,allow
      <RequireAny>
        Require all granted
        Require ip ::1
      </RequireAny>
      ### Dev
      # AuthType Digest
      # AuthName "{{ item.server_name }} authentication"
      # AuthUserFile /etc/httpd/{{ item.server_name }}.htdigest
      # require valid-user
    </IfModule>
    <IfModule !mod_authz_core.c>
      # Apache 2.2
      Order Deny,Allow
      #Deny from All
      Allow from all
      Allow from ::1
      # AuthType Digest
      # AuthName "{{ item.server_name }} authentication"
      # AuthUserFile /etc/httpd/{{ item.server_name }}.htdigest
      # require valid-user
    </IfModule>
  </Directory>
</VirtualHost>
{% endif %}
